* {
    background-color: #CAD3f5;
}

.App {
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

.Title {
    color: #CAD3f5;
    width: 100%;
}

canvas {
    display: flex;
    border-radius: 12px 12px 12px 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 4px 6px, rgba(0, 0, 0, 0.09) 4px 6px;
}