* {
    background-color: #2C3333;
}

.App {
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

.Membrana {
    display: inline-block;
}

.Title {
    color: #2C3333;
    background-color: #E7F6F2;
}